version: '3.3'
services:
  db:
    image: postgres:13.5
    restart: always
    environment:
      POSTGRES_USER: warp
      POSTGRES_PASSWORD: CHANGE-ME
    ports:
      - 5433:5432
    volumes:
      - database_folder:/var/lib/postgresql/data
volumes:
  database_folder:
    external:
      name: warp_db
