<div class="card mt-2">
  <div class="card-header bg-primary mt-20">
    <h1 class="text-center text-white" style="font-weight: bolder">Esemény módosítása</h1>
  </div>
  <div class="card-body">
    <%= render 'form', event: @event %>
  </div>
  <div class="card-footer bg-primary">
    <%= link_to 'Vissza', @event, class: "btn btn-success" %>
  </div>
</div>
